# Filtering and selecting data

In [2]:
import numpy as np
import pandas as pd


from pandas import Series,DataFrame

In [4]:
series_obj = Series(np.arange(8),index=['row 1','row 2','row 3','row 4','row 5','row 6','row 7','row 8'])

In [5]:
series_obj

row 1    0
row 2    1
row 3    2
row 4    3
row 5    4
row 6    5
row 7    6
row 8    7
dtype: int64

In [6]:
series_obj['row 3']

2

In [7]:
np.random.seed(25)

In [9]:
DF_Obj = DataFrame(np.random.rand(36).reshape((6,6)),index=['row 1','row 2','row 3','row 4','row 5','row 6'],columns= ['col 1','col 2','col 3','col 4','col 5','col 6'])

In [12]:
DF_Obj

          col 1     col 2     col 3     col 4     col 5     col 6
row 1  0.559242  0.745284  0.828346  0.823694  0.077140  0.644862
row 2  0.309258  0.524254  0.958092  0.883201  0.295432  0.512376
row 3  0.088702  0.641717  0.132421  0.766486  0.076742  0.331044
row 4  0.679852  0.509213  0.655146  0.602120  0.719055  0.415219
row 5  0.396542  0.825139  0.712552  0.097937  0.842154  0.440821
row 6  0.373989  0.913676  0.547778  0.251937  0.027474  0.206257

In [16]:
DF_Obj.ix[['row 1','row 2'],['col 5','col 5']]

/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

          col 5     col 5
row 1  0.077140  0.077140
row 2  0.295432  0.295432

# Data slicing

In [17]:
series_obj['row 3':'row 7']

row 3    2
row 4    3
row 5    4
row 6    5
row 7    6
dtype: int64

# Comparing the scalar value

In [18]:
DF_Obj < 0.2

       col 1  col 2  col 3  col 4  col 5  col 6
row 1  False  False  False  False   True  False
row 2  False  False  False  False  False  False
row 3   True  False   True  False   True  False
row 4  False  False  False  False  False  False
row 5  False  False  False   True  False  False
row 6  False  False  False  False   True  False

# Filtering with scalars

In [21]:
series_obj[series_obj < 6]

row 1    0
row 2    1
row 3    2
row 4    3
row 5    4
row 6    5
dtype: int64

# Setting values with scalars

In [22]:
series_obj['row 1','row 3'] = 8

In [23]:
series_obj

row 1    8
row 2    1
row 3    8
row 4    3
row 5    4
row 6    5
row 7    6
row 8    7
dtype: int64